<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Teh Techno Blog</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>
                <a /href="/"> Teh Techno Blog</a>
            </h1>

            <nav>
                {{#if loggedIn}}
                <button id="logout" class="btn-no-style">logout</button>
                {{else}}
                <a href="/login">login</a>
                {{/if}}
            </nav>
        </header>
    </div>

    <main>
        {{{ body }}}
    </main>

    <footer>
        Thanks for tuning in!
    </footer>
    
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    
</body>

</html>